div.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-optical-sizing: auto;
    font-style: normal;

    h1 {
        font-size: 7vw;
        font-weight: 200;
        color: ivory;
        text-align: center;
        letter-spacing: 5px;
    }

    h4 {
        font-size: 4vw;
        color: ivory;
        text-align: center;
    }

    div.cta-container {
        display: grid;
        grid: auto / auto;
        justify-content: center;
        padding: 2rem 0;

        * {
            text-decoration: none;
            font-size: 6vw;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 2rem;
            text-transform: uppercase;
            color: #E6BE8A;
            font-weight: 400;
        }

        *:not(img, p) {
            padding: 1rem 4rem;
            box-shadow: inset 1px 1px 0 #E6BE8A, inset -1px -1px 0 #E6BE8A;
        }

        div.buttons {
            place-items: center;
            list-style: none;

            a.booking-button {
                color: #E6BE8A;
                box-shadow: inset 1px 1px 0 #E6BE8A, inset -1px -1px 0 #E6BE8A;
            }

            a.telephone-button {
                mix-blend-mode: normal;
                color: #E6BE8A;
                box-shadow: inset 1px 1px 0 #E6BE8A, inset -1px -1px 0 #E6BE8A !important;
            }

            a.telephone-button:hover {
                /* color: #E6BE8A; */
                /* box-shadow: inset 1px 1px 0 #E6BE8A, inset -1px -1px 0 #E6BE8A; */
            }
        }
    }
}